.link {
  text-decoration: underline;
  padding: 0;
  font-weight: bold;
}

.exp--companyLink {
  font-size: 2.4rem;
}

.blog__heading--author {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
}

.blog__heading--author:hover {
  text-decoration: underline;
}

.blog__content--link {
  text-decoration: none;
}

.blog__content--link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 468px) {
  .blog__heading--author {
    font-size: 2rem;
  }
  .blog__content--link {
    font-size: 1.8rem;
  }
}
