.aboutme-page-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.aboutme {
  font-size: 2rem;
  line-height: 3rem;
  color: #113f67;
  margin-bottom: 2rem;
}

.imp {
  border: 2px solid #113f67;
  padding: 2rem;
  border-radius: 5px;
}
