.aboutme-page-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.aboutme {
  font-size: 2rem;
  line-height: 3rem;
  color: #113f67;
  margin-top: 2rem;
}

.footer {
  height: 2rem;
}

.bold {
  font-weight: bold;
}

.button {
  display: inline-block;
  /* border: 2px solid #113f67; */
  background-color: #113f67;
  color: #f9f7f7;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
}
