.section,
.work__projects {
  margin-bottom: 5rem;
}

.work-section {
  width: 100%;
}

.work__projects--content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
