.section,
.work__projects {
  margin-bottom: 5rem;
}

.work-section {
  width: 100%;
}

.page-heading {
  display: inline-block;
  font-size: 3.2rem;
  color: #113f67;
  margin-bottom: 2rem;
}

.work__projects--content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
