.aboutme-page-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.aboutme {
  /* display: flex; */
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #113f67;
}

.footer {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.aboutme a {
  text-decoration: underline;
}

/* .half-highlight {
  background-color: #65c6c4;
  height: 8px;
  line-height: 14px;
  display: inline-block;
} */
