.aboutme-page-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.aboutme {
  /* display: flex; */
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #113f67;
}

.footer {
  height: 20px;
}

.bold {
  font-weight: bold;
}

.aboutme a {
  text-decoration: underline;
  padding: 0;
  font-weight: bold;
}

#resume-link {
  display: block;
  background-color: #113f67;
  color: #65c6c4;
  font-size: 18px;
  border: 4px solid #65c6c4;
  border-radius: 8px;
  padding: 10px;
  margin: 3px 0;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* .half-highlight {
  background-color: #65c6c4;
  height: 8px;
  line-height: 14px;
  display: inline-block;
} */
