.design-page-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.designs {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #113f67;
}

.designs a {
  padding: 0;
  color: #e14594;
  font-weight: bold;
}
