.homepage-container {
  display: flex;
  height: 90%;
  flex-direction: column;
}

.personal-info {
  height: auto;
  flex-grow: 1;
  text-align: center;
}

.personal-info p {
  font-size: 21px;
  color: #1b1919;
}

.personal-info h1 {
  font-size: 24px;
  color: #1b1919;
}

.avatar {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
}

.avatar img {
  height: 350px;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-grow: 4;
}

.icon-container {
  margin: 20px;
}

.below {
  align-self: flex-end;
  margin-bottom: 0px;
}

.above {
  align-self: flex-start;
  margin-top: 0px;
}

.github-icon,
.twitter-icon,
.instagram-icon,
.linkedin-icon {
  color: #009f9d;
  opacity: 1;
}

.github-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover {
  color: #0f0a3c;
}

.github-icon:hover {
  fill: #34699a;
}

.twitter-icon:hover {
  fill: #8ed6ff;
}

.instagram-icon:hover {
  fill: #e14594;
}
.linkedin-icon:hover {
  fill: #408ab4;
}
.personal-info p {
  text-align: justify;
}

.icon-container {
  transition: all 0.2s ease-in-out;
}

.icon-container:hover {
  transform: scale(1.1);
}
