.homepage-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.personal-info {
  height: auto;
  max-width: 500px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  flex-grow: 1;
}

.personal-info p {
  font-size: 21px;
  line-height: 28px;
  color: #113f67;
}

.personal-info h1 {
  font-size: 24px;
  color: #113f67;
  margin: 0;
}

.avatar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 250px;
}

.avatar img {
  align-self: flex-end;
  height: 300px;
}

.social-icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 160px;
  max-height: 180px;
}

.icon-container {
  margin: 20px 20px 0 20px;
  transition: all 0.2s ease-in-out;
}

.icon-container {
}

.icon-container:hover {
  transform: scale(1.1);
}
/* .below {
  align-self: flex-end;
  margin-bottom: 0px;
}

.above {
  align-self: flex-start;
  margin-top: 0px;
} */

.github,
.linkedin {
  align-self: flex-end;
}

.instagram,
.twitter {
  align-self: flex-start;
}

.github-icon,
.twitter-icon,
.instagram-icon,
.linkedin-icon {
  color: #009f9d;
  opacity: 1;
}

.github-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover {
  color: #0f0a3c;
}

.github-icon:hover {
  fill: #34699a;
}

.twitter-icon:hover {
  fill: #8ed6ff;
}

.instagram-icon:hover {
  fill: #e14594;
}
.linkedin-icon:hover {
  fill: #408ab4;
}
.personal-info p {
  text-align: center;
}

@media only screen and (max-width: 468px) {
  .personal-info p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 468px) {
  .personal-info,
  .social-icons {
    width: 90vw;
  }

  .github-icon,
  .twitter-icon,
  .instagram-icon,
  .linkedin-icon {
    height: 40px;
    width: 40px;
  }

  .icon-container {
    margin: 10px 10px 0 10px;
  }

  .instagram,
  .twitter {
    align-self: center;
  }

  .avatar img {
    height: 250px;
  }
}
