.navbar-container {
  height: 10%;
  width: 80%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #112d4e;
  padding-left: 10px;
}

a:hover {
  text-decoration: underline;
}

.selected {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
}
