*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}

@font-face {
  font-family: VulfSansMedium;
  font-style: normal;
  font-display: fallback;
  src: url('./styles/fonts/Vulf_Sans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: VulfSansRegular;
  font-style: normal;
  font-display: fallback;
  src: url('./styles/fonts/Vulf_Sans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: VulfSansBoldItalic;
  font-style: normal;
  font-display: fallback;
  src: url('./styles/fonts/Vulf_Sans-Bold_Italic.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-display: fallback;
  src: url('./styles//fonts/Inter-Regular.woff2') format('woff2');
}
