*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}

@font-face {
  font-family: VulfSansMedium;
  src: url(./styles/fonts/Vulf_Sans-Medium.ttf);
}


@font-face {
  font-family: VulfSansRegular;
  src: url(./styles/fonts/Vulf_Sans-Regular.ttf);
}

@font-face {
  font-family: VulfSansBoldItalic;
  src: url(./styles/fonts/Vulf_Sans-Bold_Italic.woff2);
}